.fa-color-red {
  color: #FF0000;
}

.fa-color-grey {
  color: #6d6d6d;
}

/*
.content-wrapper {
  height:-webkit-fill-available;
}
*/
.timeline-active a {
  color: #fff;
}

.timeline > li.timeline-active > .timeline-item  {

  background: #dd4b39;
}

.timeline > li.timeline-active > .timeline-item .timeline-body, .timeline-footer {

  background: #fff;
}


.timeline > li.timeline-active > .timeline-item > .time {
  color: #fff;
}

.timeline > li.timeline-active > i {
  background: #dd4b39;
  color: #fff;
}

.btn-left-margin {
  margin-left: 5px;
}


.dl-horizontal-narrow dt {
  width: 75px !important;
}

.dl-horizontal-narrow dd {
  margin-left: 85px !important;
}
